<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Worcount</title>
  </head>

  <body>
  <form action="/getcount" method="POST">>
  <div class="form-group">
    <label for="input hour">Enter sentence</label>
    <input type="text" class="form-control" name="sentence" placeholder="input sentence">
    <small class="form-text text-muted">type some stuff</small>
  </div>
  <div class="form-group">
    <label for="input minute">Enter word</label>
    <input type="text" class="form-control" name="key" placeholder="enter one word in the string">
    <small class="form-text text-muted">what's your keyword?</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if(Model != null)
{
<p> the key word is present: @Model.count() times</p>


}
</body>

</html>